*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 0.625rem;
}

body {
  background-color: #fff;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #040313;
  font-size: clamp(1rem, 1.5vw, 1.4rem);
}

.heading-secundary {
  font-size: clamp(2.8rem, 5vw, 3.2rem);
  color: #E7800A;
}
.heading-secundary--margin {
  margin: 5rem 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E7800A;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 1.6rem;
  height: 3.2rem;
  border-radius: 7px;
  transition: all 0.2s;
}
.btn:hover {
  background: #dd7907;
  transform: scale(1.2);
}
.btn--card {
  display: flex;
  align-self: center;
}
.btn--img-gallery {
  display: flex;
  width: 120px;
}
.btn--img-gallery:hover {
  background: #dd7907;
}

.btn-menu {
  display: none;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 10px;
}
.btn-menu__line {
  background-color: #fff;
  height: 2px;
  width: 2.5rem;
}
.btn-menu__line:not(:last-child) {
  margin-bottom: 7px;
}

.card {
  height: 30rem;
  flex: 0 0 30rem;
  padding: 2rem;
  margin: 1rem;
  background-color: #040313;
  position: relative;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.4rem black;
}
.card__content {
  display: flex;
  flex-direction: column;
}
.card__content > * {
  margin-bottom: 1rem;
}
.card__content__img {
  height: 80%;
  width: 100%;
}
.card__content figcaption {
  color: #fff;
  text-align: center;
}
.card__face--top {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #040313;
  transition: all 0.3s;
  transform-origin: top;
  overflow: hidden;
}
.card__face--top > img {
  width: 50%;
  transform: translateY(50%) translateX(50%);
}
.card__face--bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: #040313;
  transition: all 0.3s;
  transform-origin: bottom;
  overflow: hidden;
}
.card__face--bottom > img {
  width: 50%;
  transform: translateY(-50%) translateX(50%);
}

.card:hover .card__face--top {
  transform: scaleY(0);
}

.card:hover .card__face--bottom {
  transform: scaleY(0);
}

.tabs {
  margin: 2rem 0;
}
.tabs__list {
  color: #fff;
  display: flex;
}
.tabs__list__tab {
  background-color: #555;
  padding: 0.5rem;
  border-radius: 4px;
  flex: 0 1 50%;
  list-style: none;
  transform: translateY(-0.5rem);
  box-shadow: 0 0.2rem 0.5rem #555555;
}
.tabs__list__tab--active {
  transform: scale(1.01) translateY(-1rem);
  background-color: #040313;
}
.tabs__list__tab:not(:last-child) {
  margin-right: 0.8rem;
}
.tabs__content {
  display: none;
  background: #eee;
  grid-area: content;
  padding: 1rem;
  box-shadow: 0 0.2rem 0.5rem #555555;
  border-radius: 4px;
}
.tabs__content__description {
  display: flex;
  flex: 0 1 70%;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}
.tabs__content__description p {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 710px) {
  .tabs__content .tabs__content__description p {
    margin: 5px 0;
    flex-direction: column;
    align-items: center;
  }
  .tabs__content .tabs__content__description p > * {
    text-align: center;
  }
}
.tabs__content--active {
  display: flex;
}

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.works__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__content__gallery {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 0;
  width: 95rem;
  height: 45rem;
  background: #040313;
  color: #fff;
  padding: 15px;
  border-radius: 15px;
}
.works__content__gallery__item {
  width: 0;
  flex-grow: 1.5;
  opacity: 0.9;
  transition: width 0.5s ease;
  position: relative;
}
.works__content__gallery__item__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.works__content__gallery__item__box-btn {
  display: none;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 15%;
  background-color: rgba(172, 172, 172, 0.6784313725);
  border-radius: 5px;
}
.works__content__gallery__item:hover {
  width: 10%;
  opacity: 1;
  filter: contrast(120%);
}
.works__content__gallery__item:hover .works__content__gallery__item__box-btn {
  display: flex;
  visibility: visible;
}
.works__content__gallery__description {
  width: 0;
  flex-grow: 1;
  opacity: 0.9;
  transition: 0.5s ease;
  position: relative;
}
.works__content__gallery__description__section {
  margin: 10px 0;
}
.works__content__gallery__description__title {
  margin: 10px 0;
  color: #E7800A;
}
.works__content__gallery__description__title--center {
  text-align: center;
}
.works__content__gallery__description__title, .works__content__gallery__description__title h5 {
  margin: 5px 0;
}
.works__content__gallery__description ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.works__content__gallery__description ul li {
  flex: 0 0 50%;
}
@media screen and (max-width: 960px) {
  .works {
    margin: 5px;
  }
  .works__content__gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .works__content__gallery__item {
    width: auto;
  }
  .works__content__gallery__item__box-btn {
    display: flex;
    visibility: visible;
  }
  .works__content__gallery__item:hover {
    width: auto;
  }
  .works__content__gallery__description {
    width: auto;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto 5rem auto;
}
.contact__form {
  display: grid;
  gap: 20px;
  width: 100%;
  padding: 0 2rem;
}
.contact__form__item {
  display: flex;
  flex-direction: column;
}
.contact__form__item__label {
  margin: 2px 0;
}
.contact__form__item__input {
  font-family: "Quicksand", sans-serif;
  border: 1px solid #E7800A;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}
.contact__form__item__input:focus {
  outline: 2px solid #dd7907;
}
.contact__form__item__textarea {
  font-family: "Quicksand", sans-serif;
  border: 1px solid #E7800A;
  padding: 5px;
  outline: none;
  border-radius: 5px;
}
.contact__form__item__textarea:focus {
  outline: 2px solid #dd7907;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: minmax(5rem, min-content) 1fr 5rem;
  grid-template-areas: " nav       nav     " " profile   profile " " phrase    phrase  ";
  min-height: 100vh;
  padding: 0 2rem;
  justify-content: center;
  background-color: #040313;
  color: #fff;
}
.header__nav {
  grid-area: nav;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background-color: #040313;
  box-shadow: 0 0.2rem 0.5rem #555555;
}
.header__nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 1200px;
  font-size: 1.2rem;
}
.header__nav__content__logo {
  width: 5rem;
}
.header__nav__content__list {
  display: flex;
  list-style: none;
  margin: 0 2rem;
}
.header__nav__content__list .link {
  transition: all 0.2s;
}
.header__nav__content__list .link a:link,
.header__nav__content__list .link a:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.4rem;
}
.header__nav__content__list .link:not(:last-child) {
  margin-right: 20px;
}
.header__nav__content__list .link:hover {
  color: #E7800A;
  transform: scale(1.2);
}
.header__nav__content__list .link--active {
  color: #E7800A;
  transform: scale(1.3);
}
@media screen and (max-width: 480px) {
  .header__nav .header__nav__content {
    padding: 1rem 2rem;
  }
  .header__nav .header__nav__content__list {
    display: none;
    transition: all 2s;
  }
  .header__nav .header__nav__content__list--showed {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    width: 100vw;
    background-color: #040313;
    padding: 2rem 0;
    transition: all 2s;
  }
  .header__nav .btn-menu {
    display: inline-block;
  }
}
.header__profile {
  grid-area: profile;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}
.header__profile__text {
  line-height: 1.7;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 7rem 0;
}
.header__profile__img {
  width: 30rem;
  height: 30rem;
  justify-self: center;
}
.header__phrase {
  grid-area: phrase;
}

.layout {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
  grid-template-areas: ". header header header header header header header header header header header header ." "content content content content content content content content content content content content content content";
  justify-content: center;
  background-color: #040313;
}

.main__content {
  grid-area: content;
  background-color: #fff;
}

.curriculum__employment-history {
  margin: 4rem auto;
  max-width: 1200px;
}

.education {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 96rem;
  margin: 0 auto 10rem auto;
}
.education__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
