.curriculum {
  &__employment-history{
    margin: 4rem auto; 
    max-width: 1200px;
  } 
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    align-items: center;
    max-width: 96rem;
    margin: 0 auto 20rem auto;

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
}