.curriculum {
  &__employment-history{
    margin: 4rem auto; 
    max-width: 1200px;
  } 
}

.education {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 96rem;
    margin: 10rem auto;
}