@use "variables" as v;

@mixin respond($breakpoint) {
    @if $breakpoint >= 1800 {
        @media (min-width: calc(calc($breakpoint / 16px) * 1em)) {
            @content;
        }
    }

    @if $breakpoint < 1800 {
        @media (max-width: calc(calc($breakpoint / 16px) * 1em)) {
            @content;
        }
    }
}

@mixin menu($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        .header__nav__content {
            padding: 1rem 2rem;
            

            &__list {
                display: none;
                transition: all 2s;

            }

            &__list--showed {
                display: flex;
                justify-content: center;

                position: absolute;
                margin: 0;

                bottom: 0;
                right: 0;

                transform: translateY(100%);
                width: 100vw;

                background-color: v.$color-secundary;
                padding: 2rem 0;
                transition: all 2s;
            }
        }

        .btn-menu {
            display: inline-block;
        }
    }
}

@mixin curriculum-description($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        .tabs__content__description {
            p {
                margin: 5px 0;
                flex-direction: column;
                align-items: center;

                & > * {
                    text-align: center;
                }
            }
        }
    }
}
