@use '../abstract/variables' as v;

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

    font-size: 1.4rem;
    color: v.$color-secundary;
}

.heading-secundary {
    font-size: 3.2rem;
    color: v.$color-tertiary;
}