$color-primary: #fff;

$color-secundary: #040313;

$color-tertiary: #E7800A;
$color-tertiary-dark: #dd7907;

$color-quaternary: #acacacad;

$color-shadow-light: 0 .2rem .5rem rgba( #555, $alpha: 1.0);

$color-shadow-dark: 0 .5rem .4rem rgba( #000, $alpha: 1.0);