@use '../abstract/variables' as v;

.btn {
    display: flex;
    align-items: center;
    
    background-color: v.$color-tertiary;
    text-decoration: none;
    color: v.$color-primary;
    font-size: 1.4rem;
    

    padding: 0 1.6rem;
    height: 3.2rem;
    border-radius: 7px;

    transition: all .2s;
    
    &:hover {
        background: v.$color-tertiary-dark;
        transform: scale(1.2);
    }

    &--card {
        display: flex;
        align-self: center;
    }
}