@use '../abstract/variables' as v;

.btn {
    display: flex;
    align-items: center;
    
    background-color: v.$color-tertiary;
    text-decoration: none;
    color: v.$color-primary;
    font-size: 1.4rem;
    

    padding: 0 1.6rem;
    height: 3.2rem;
    border-radius: 7px;

    transition: all .2s;
    
    &:hover {
        background: v.$color-tertiary-dark;
        transform: scale(1.2);
    }

    &--card {
        display: flex;
        align-self: center;
    }
}

.btn-menu {
    display: none;
    border: 2px solid v.$color-primary;
    border-radius: 7px;

    padding: 10px;

    &__line {
        background-color: v.$color-primary;
        height: 2px;
        width: 2.5rem;

        &:not(:last-child) {
            margin-bottom: 7px;
        }
    }
}