@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;

.works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;


    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__gallery {
            display: flex;
            justify-content: space-between;

            gap: 10px;

            margin: 10px 0;

            width: 95rem;
            height: 45rem;

            background: v.$color-secundary;
            color: v.$color-primary;
            padding: 15px;
            border-radius: 15px;

            &__item {
                width: 0;
                flex-grow: 1.5;
                opacity: 0.9;
                transition: width 0.5s ease;
                position: relative;

                &__img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 5px;
                }

                &__box-btn {
                    display: none;
                    visibility: hidden;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 50%;
                    height: 15%;
                    background-color: v.$color-quaternary;
                    border-radius: 5px;
                }


            }

            &:hover {
                .works__content__gallery__item {
                    width: 10%;
                    opacity: 1;
                    filter: contrast(120%);
                }


                .works__content__gallery__item__box-btn {
                    display: flex;
                    visibility: visible;
                }
            }

            &__description {
                width: 0;
                flex-grow: 1;
                opacity: 0.9;
                transition: 0.5s ease;
                position: relative;

                &__section {
                    margin: 10px 0;
                }

                &__title {
                    margin: 10px 0;

                    color: v.$color-tertiary;

                    &--center {
                        text-align: center;
                    }

                    &,
                    h5 {
                        margin: 5px 0;
                    }
                }

                & ul {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;

                    & li {
                        flex: 0 0 50%;
                    }
                }
            }
        }
    }

    @include m.works(960px)
}