@use '../abstract/functions' as f;
@use '../abstract/variables' as v;
@use '../abstract/mixins'    as m;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: f.font-base(10);

    // @include
}

body {
    background-color: v.$color-primary;
}
