@use '../abstract/variables' as v;

body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: v.$color-secundary;

    font-size: clamp(1rem, 1.5vw ,1.4rem);
}

.heading-secundary {
    font-size: clamp(2.8rem, 5vw ,3.2rem);
    color: v.$color-tertiary;

    &--margin {
        margin: 5rem 0
    }
}